html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  font: 100% Nanum Gothic, sans-serif;
  margin: 0;
}


.frontText {
  font-family: unset;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.links {
  height: 60px;
  line-height: 60px;
  right: 30px;
  display: inline-block;
  text-decoration: none;
}

.links li{
  display: inline-block;
  padding-left: 20px;
}
  
.tucsonImage {
background-image: url("https://images.onepixel.com/4b52f26d-38cf-70fc-3540-31c172b49ef4_1000.jpg?auto=format&q=55&mark=watermark%2Fcenter-v5.png&markalign=center%2Cmiddle&h=364&markalpha=20&s=ce0f5096b407ea1190700b78cf25bfc0");
background-color: whitesmoke;
height: 1000px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.tucsonImage.hide-bg{
background-image:none;
}

#frontText {
  font-family: unset;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.secondButton {
  border-radius: 16px;
  background-color: indianred;

}

#dest, #begin {
  font-size: 25px;
  color: white;
}

#error {
  margin-top: 50px;
  font-size: 25px;
  color: black;
  background-color: #ffe680;
}

/* UPDATED */
.secondpage {
  background-color: #E2C6C4;
}

/* UPDATED UPDATED */
#form-panel {
  background-color: white;
  width: 400px;
  height: 400px;
  border:2px solid rgba(122, 110, 95, 0.055);
  padding: 15px;
  border-radius: 10px;
  position: relative;
  float: left;
}

/* Buzz button CSS */
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  color: #6fb98f;
  line-height: 60px;
  font-size: 25px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

/* UPDATED */
#right-panel {
  width: auto;
  height: auto;
  border-radius: 10px;
  /* margin-right: 2em;
  margin-left: 2em; */
  margin-bottom: 5px;
  position: relative;
  float: right;
  overflow: auto;
  background-color: white;
}

.warnbox-content {
  display: none 
}

.warnbox-c1, .warnbox-c2{
display: none 
}


.weatherFormDiv {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;

}

.LogoGif{
z-index: -5;    
width: 72.75px;
height:auto;
position: relative;
background: red;
position: relative;
-webkit-animation: mymove 6s infinite; 
-webkit-animation-timing-function: linear; 
animation: mymove 6s infinite;
animation-timing-function: linear;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 770px;}
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 770px;}
}

.dropDownMenuButton{
background-color: aquamarine
}

/* UPDATED UPDATED */
.buttonContainer {
  background-color:#E2C6C4;
  margin: 5px;
  display: none;
}

.results{
    text-align: center;
}
.strong{
    font-weight: bold;
    font-size: 18px;
}

#icon{
  width: 90px;
  height: 90px;
}

/* weather div styling UPDATED */
#weatherInfo {
  background-color: #0F1D37;
  opacity: 0.8;
  width: 400px; 
  height: 400px;
  border-radius: 10px; 
  position: relative; 

  border: 3px solid #0F1D37;
  color: #FFF;
  margin-bottom: 5px;
}

/* #map {
  width: auto;  
  position: relative;
  margin-left: 2em;
  height: 500px;
  border-radius: 10px;
  float: left;
  margin-bottom: 5px;
} */

#map {
  width: auto;
  height: auto;
  position: relative;
  margin-left: 2em;
  border-radius: 10px;
  float: left;
}

.secondpage{
display:none;
}

.btns {
  background-color: #EF8B4B;
  border-color: #613a51;
  border-radius: 5px;
  text-transform: bold;
  text-decoration: italic;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
}
.btn:hover {
  background-color: #8A58B7;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #804FAD;
}
.btn:active {
  box-shadow: inset 0 0 1.094em #472566, inset 0 0.063em #390668, inset 0 -0.188em #682CA0, 0 0.063em rgba(255, 255, 255, 0.4);
}

/* UPDATED */
.navbar-theme {
  background-color: #0F1D37;
  text-transform: bold;
  text-decoration: italic;
  z-index:5;
}

.wthr-theme {
  background-color: #0F1D37;
  border-block-start: #613a51;
  border-block-end-color: #EF8B4B;
}


/* UPDATED added for map grid styling */
.right-panel {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100;
  max-width: 500px;
  max-height: 500px;

}

.map-panel {
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 200px;
  max-width: 500px;
  max-height: 500px;
}

@media only screen and (max-width: 320px) {

  body { 
     font-size: 2em; 
  }
}