html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  
.TucsonImage {
  background-image: url("https://images.onepixel.com/4b52f26d-38cf-70fc-3540-31c172b49ef4_1000.jpg?auto=format&q=55&mark=watermark%2Fcenter-v5.png&markalign=center%2Cmiddle&h=364&markalpha=20&s=ce0f5096b407ea1190700b78cf25bfc0");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.frontText {
  font-family: unset;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.FrontButton{
  border: 2px solid bisque;
  border-radius: 16px;
  background-color: indianred

}

.weatherBtn {
  border: 2px solid bisque;
  border-radius: 16px;
  background-color: indianred

}

.links {
  height: 60px;
  line-height: 60px;
  right: 30px;
  display: inline-block;
  text-decoration: none;
}

.links li{
  display: inline-block;
  padding-left: 20px;
}

/* .weatherCard {
padding: 10px;

} */
  
.tucsonImage {
background-image: url("https://images.onepixel.com/4b52f26d-38cf-70fc-3540-31c172b49ef4_1000.jpg?auto=format&q=55&mark=watermark%2Fcenter-v5.png&markalign=center%2Cmiddle&h=364&markalpha=20&s=ce0f5096b407ea1190700b78cf25bfc0");
background-color: #cccccc;
height: 700px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.tucsonImage.hide-bg{
background-image:none;
}

#frontText {
font-family: unset;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;

}

.links li{
    display: inline-block;
    padding-left: 20px;
}

.weather li {
    float: right;
}
#map {
      height: 100%;
      margin-right: 400px;
    
      display: none;
}
/* #right-panel {
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
  float: none;
  width: auto;
  display:none;
  
} */

#right-panel select,
#right-panel input {
  font-size: 15px;
}
#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}

.warnbox-content {
  display: none 
}
.warnbox-c1, .warnbox-c2{
display: none 
}

#form-panel {
  /* position: relative;
  float: left; 
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px; */
  border: 1px solid #999;
  border-radius: 5px;
  /* text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px; */
  display:none;
}

.weatherFormDiv {
  margin-left: 10px;
  margin-top: 20px;
}



.LogoGif{
height:75px;
width: 75px;
position: relative;

background: red;
position: relative;
-webkit-animation: mymove 6s infinite; 
-webkit-animation-timing-function: linear; 
animation: mymove 6s infinite;
animation-timing-function: linear;
}

Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 770px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 770px;}
}
.dropDownMenuButton{
background-color: aquamarine
}

/* weather div styling */
#weatherInfo {
    background-color: rgba(11, 79, 189, 0.514); 
    opacity: 0.8; 
    width: 750px; 
    height: 415px; 
    border-radius: 10px; 
    position: relative; 
    background-size: 520px 400px;
    border: 3px solid darkgrey; 
    color: #FFF;
  }





